OPENAI_API_KEY="YOUR_API_KEY_HERE"
ANTHROPIC_API_KEY="YOUR_API_KEY_HERE"
GOOGLE_GENERATIVE_AI_API_KEY="YOUR_API_KEY_HERE"
OPENROUTER_API_KEY="YOUR_API_KEY_HERE"
XAI_API_KEY="YOUR_API_KEY_HERE"
AZURE_API_KEY="YOUR_API_KEY_HERE"
CEREBRAS_API_KEY="YOUR_API_KEY_HERE"
DEEPSEEK_API_KEY="YOUR_API_KEY_HERE"
GROQ_API_KEY="YOUR_API_KEY_HERE"
MISTRALAI_API_KEY="YOUR_API_KEY_HERE"
META_API_KEY="YOUR_API_KEY_HERE"

OLLAMA_BASE_URL="http://localhost:11434"

MONGODB_URI="mongodb://localhost:27017/code-assessor"
MONGODB_DB="code-assessor"

