export const OPENAI_API_KEY = "YOUR_API_KEY_HERE";
export const ANTHROPIC_API_KEY = "YOUR_API_KEY_HERE";
export const GOOGLE_GENERATIVE_AI_API_KEY = "YOUR_API_KEY_HERE";
export const OPENROUTER_API_KEY = "YOUR_API_KEY_HERE";
export const XAI_API_KEY = "YOUR_API_KEY_HERE";
export const OLLAMA_BASE_URL = "http://localhost:11434";
export const AZURE_API_KEY = "YOUR_API_KEY_HERE";
export const CEREBRAS_API_KEY = "YOUR_API_KEY_HERE";
export const DEEPSEEK_API_KEY = "YOUR_API_KEY_HERE";
export const GROQ_API_KEY = "YOUR_API_KEY_HERE";
export const MISTRALAI_API_KEY = "YOUR_API_KEY_HERE";
export const META_API_KEY = "YOUR_API_KEY_HERE";

export const MONGODB_URI = "mongodb://localhost:27017/code-assessor";